{% extends 'base.html.twig' %}

{% block title %}Edit DaysSchedule
{% endblock %}

{% block body %}
	<h1>Edit DaysSchedule</h1>

	{{ include('days_schedule/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_days_schedule_index') }}">back to list</a>
	<a href="{{ path('app_days_schedule_delete', {'id': days_schedule.id}) }}">Supprimer</a>

{% endblock %}
